* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

header {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 26px;
    margin: 0 16px;
}

header h1 span {
    color: #ff4419;
}

header div {
    display: flex;
    /* gap: 25px; */
    align-items: center;
}

header div p {
    margin: 0 26px;
}

header div p.cta-btn {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #ff4419;
    padding: 8px 26px;
    margin: 0 6px;
}

nav {
    margin: 16px;
    display: flex;
    gap: 26px;
    font-size: 16px;
}

nav select {
    border: none;
    font-size: 16px;
}

.hero {
    display: flex;
    padding: 36px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #eaf1f1;
}

.hero p {
    font-size: 21px;
}

.hero h1 {
    font-size: 56px;
}

.hero h1 span {
    border-bottom: 4px dashed black;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 33px 0;
}

.card {
    width: 15%;
    min-height: 200px;
    padding: 30px;
    background-color: white;
    border: 4px solid black;
    box-shadow: 12px 12px black;
}

.card .item {
    margin: 18px 0;
    font-size: 18px;
    font-weight: bold;
}

.card .price {
    font-size: 21px;
    margin: 18px 0;
}

.card .price span {
    font-weight: bold;
    font-size: 56px;
}

.card .order {
    width: 100%;
    border: none;
    padding: 12px 27px;
    color: white;
    background-color: #1d78f0;
    font-size: 18px;
    font-weight: bold;
}

.card .note {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}

.second-section {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.second-section h2 {
    margin: 30px 0;
    font-size: 48px;
}

.second-section p {
    font-size: 21px;
}

.second-section p span {
    border-bottom: 2px dotted black;
}

.second-section .link {
    /* text-align: center; */
    width: fit-content;
    margin: 30px auto;
    color: #1d78f0;
    border-bottom: 2px dotted #1d78f0;
}